/* Estilo general para la tarjeta */
p {
    margin: 0;
    padding: 0;
}

.card {
    position: relative;
    overflow: visible;
    transition: transform 0.3s ease;
    width: 18rem;
    border-radius: 7px;
}

.card:hover {
    transform: scale(1.05);
}

.film-card {
    position: relative;
    padding-top: 150%;
}

.search-img-top {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Asegura que la imagen cubra todo el contenedor */
    transition: opacity 0.3s ease;
    border-radius: 7px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    /* Fondo oscuro */
    color: white;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    padding: 15px;
    font-size: 1.4rem;
    border-radius: 7px;
}

.film-card:hover .overlay {
    opacity: 1;
    /* Muestra la superposición */
    border-radius: 7px;
}

.top-movie {
    background-color: rgb(236, 201, 1);
    padding: 0px 5px 0 6px;
    top: 0;
    right: 0;
    border-radius: 5px;
    font-weight: 500;
    filter: drop-shadow(0 0 5px #f19d00a9);
    color: #000000;
    z-index: 10;
    margin: -15px;
    font-size: clamp(1.3rem,4vw,1.3rem);

}

.prox-estreno {
    background-color: rgb(199, 0, 0);
    padding: 0px 5px 0 6px;
    top: 0;
    right: 0;
    border-radius: 5px;
    font-weight: 500;
    filter: drop-shadow(0 0 5px #ff0808);
    color: #ffffff;
    z-index: 10;
    margin: -15px;
    font-size: clamp(1.2rem,4vw,1.3rem);
}

.movie-type-serie {
    position: absolute;
    background-color: #0ea700;
    font-size: 1.2rem;
    top: 10px;
    left: 10px;
    font-weight: 500;
    padding: 0 7px;
    border-radius: 5px;
}

.movie-type-movie {
    background-color: #0072a7;
    font-size: 1.2rem;
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: 500;
    padding: 0 7px;
    border-radius: 5px;
}

.icon-filmcard{
    width: clamp(1.7rem, 5vw, 2rem)
}

.truncate-text {
    display: inline-block;
    white-space: nowrap; /* Evita que el texto haga un wrap (salto de línea) */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Añade puntos suspensivos al final del texto truncado */
    width: 260px;
    text-wrap: balance;
    font-size: 1.7rem;
    padding: 20px 20px;
}

.no-select{
    user-select: none;
}