.novedades{
    filter: drop-shadow(0 0 8px #ffffff7a);
}

.card{
    border-width: 0px;

}

.novedades-title{
    font-size: clamp(3rem, 4.5vw, 6rem);
    text-wrap: balance;
    padding: 20px 0px 0 5px;
}

.film-card-modal{
    filter: drop-shadow(0 0 3px #ffffff7a);
    font-size: 0.50rem;
}