

hr{
    color: white;
    opacity: 0.8;
}

.prox-estreno-recommend{
    font-size: 0.9rem;
}

.truncate-text-recommend {
    display: inline-block;
    white-space: nowrap; /* Evita que el texto haga un wrap (salto de línea) */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Añade puntos suspensivos al final del texto truncado */
    width: 180px;
    text-wrap: balance;
    font-size: clamp(1.25rem,0.3vw,2.4rem);
    margin-bottom: 15px;
}

.destacada-recommend{
    font-size: 18px;
}

.film-card-recommend{
    filter: drop-shadow(0 0 5px #ffffff77);
}

.ver-mas-recommend{
    font-size: 1.1rem;
}