.ver-trailer{
    font-size: 1.2rem;
}

.viewtrailer{
    min-height: 700px;
    background-size: cover;
    background-position:center;

  }

  .reproductor{
    min-width: 100%;
    height: 600px;
  }

  .video-container{
    width: 100%;
  }

  .card-img-top{
    height: 100%;
    object-fit: cover;
  }

  .subtitle-modal{
    font-size: clamp(1.9rem, 5vw, 2.5rem);
  }

  @media screen and (max-width: 950px){
    .reproductor{
        min-width: 100%;
        height: 400px;
      }
      .bloque-poster-modal{
        display: flex;
        margin:auto;
      }
  }

  .modal-body {
   overflow-x: hidden; /* Oculta la barra de desplazamiento */
}