.modal-movie {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); /* Sombra con desenfoque */
}

.modal-movie::before {
  position: absolute;
  content: "";
  background-blend-mode: soft-light;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(6px);
  inset: 0;
}

.modal-header{
  padding-bottom: 0;

}

.modal-title {
  font-size: clamp(2rem, 3vw, 3.4rem);
  text-wrap: pretty;
}

.modal-title h1 {
  padding: 0;
  margin: 0;
}

.imagen-modal {
  width: clamp(10rem, 20vh, 20rem);
}


.icono-modal {
  width: 1.5rem;
}


.modal-body::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

.modal-body::-webkit-scrollbar-track {
  background: rgb(168, 168, 168);
  border-radius: 10px;
  /* color of the tracking area */
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: #016391;
  border-radius: 10px;
  /* color of the scroll thumb */

  /* roundness of the scroll thumb */

  /* creates padding around scroll thumb */
}


.data-extra {
  color: rgb(158, 158, 158);
  line-height: 1.2rem;
}

.bloque-derecho-modal {
  max-width: 800px;

}

.texto-modal {
  text-wrap: pretty;
}

.modal-backdrop.show {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.85);
}


.ver-trailer{
    font-size: clamp(0.7rem, 3.7vw, 1.1rem);
}

.viewtrailer{
    min-height: 700px;
    background-size: cover;
    background-position:center;

  }

  .reproductor{
    min-width: 100%;
    height: 600px;
  }

  .video-container{
    width: 100%;
  }

  .card-img-top{
    height: 100%;
    object-fit: cover;
  }

  .subtitle-modal{
    font-size: clamp(1.9rem, 5vw, 2.5rem);
  }

  @media screen and (max-width: 950px){
    .reproductor{
        min-width: 100%;
        height: 400px;
      }
      .bloque-poster-modal{
        display: flex;
        margin:auto;
      }
  }

  .modal-body {
   overflow-x: hidden; /* Oculta la barra de desplazamiento */
}

@media screen and (max-width: 1200px){
  .imagen-modal {
     display: none;
  }
  .bloque-poster-modal{
    display: none;
  }
}

@media screen and (max-width: 500px){
  .puntaje{
    flex-direction: column;
  }
  .porcentaje-valoracion{
    padding-left: 30px;
  }
  .data-extra p{
    font-size: 1.2rem !important;
  }
  
}