.logo {
    width: clamp(3rem, 75%, 6rem);
    filter: drop-shadow(0 0 8px #ffffff96);
}

.btn-lupa{
    
    border-radius: 6px; /* Esquinas: superior izquierda, superior derecha, inferior derecha, inferior izquierda */
}

.navbar{
    background-color: #023249;
    transition: padding 0.3s ease-in-out, background-color 0.3s ease-in-out, max-width 0.3s ease-in-out;
}

.navbar.shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #023249; /* Cambiar el color de fondo si es necesario */
    filter: drop-shadow(0 0 25px #000000);
}

.navbar .logo {
    max-width: 8rem;
    transition: max-width 0.5s ease-in-out;

}

.navbar.shrink .logo {
    max-width: 4.2rem;
}


.navbar p {
    font-size: 3rem !important; /* Ajusta según el tamaño inicial */
    transition: font-size 0.5s ease-in-out;
    font-style: italic;
}

.navbar.shrink p {
    font-size: 2.5rem !important; /* Ajusta según el tamaño deseado al hacer scroll */
}


.dropdown-menu{
    background-color: #023249;
    font-size: 1.5rem;
    border: 1px solid #fff;

}
.dropdown-item:hover{
    background-color: #fff;
    color: #023249 !important;
}

@media screen and (max-width: 575px){
    .logo{
        width: 4rem;
    }
    .navbar p {
        font-size: 2rem !important; /* Ajusta según el tamaño inicial */
        transition: font-size 0.5s ease-in-out;
    }
}