.logo {
    width: clamp(3rem, 75%, 4.5rem);
    filter: drop-shadow(0 0 8px #ffffff96);
}

.custom-toggler .navbar-toggler-icon {
    filter: brightness(0) invert(1);
}
.navbar-toggler{
    border-color: #ffffffb0;

}

.navbar-toggler:focus {
    box-shadow: none;
}

.btn-lupa{
    
    border-radius: 6px; /* Esquinas: superior izquierda, superior derecha, inferior derecha, inferior izquierda */
}

.navbar{
    background-color: #023249;
    transition: padding 0.3s ease-in-out, background-color 0.3s ease-in-out, max-width 0.3s ease-in-out;
}

.offcanvas{
    background-color: #023249;
    width: 80% !important;
}

.btn-close{
    color: #fff !important;
}

.navbar.shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #023249; /* Cambiar el color de fondo si es necesario */
    filter: drop-shadow(0 0 25px #000000);
}

.navbar .logo {
    max-width: 8rem;
    transition: max-width 0.5s ease-in-out;

}

.navbar.shrink .logo {
    max-width: 3rem;
}


.navbar p {
    font-size: 2.6rem !important; /* Ajusta según el tamaño inicial */
    transition: font-size 0.5s ease-in-out;
    font-style: italic;
}

.navbar.shrink p {
    font-size: 2rem !important; /* Ajusta según el tamaño deseado al hacer scroll */
}


.dropdown-menu{
    background-color: #023249;
    font-size: 1.5rem;
    border: 1px solid #fff;

}
.dropdown-item:hover{
    background-color: #fff;
    color: #023249 !important;
}

@media screen and (max-width: 575px){
    .logo{
        width: 2.5rem;
    }
    .navbar p {
        font-size: 1.7rem !important; /* Ajusta según el tamaño inicial */
    }
    .navbar.shrink p {
        font-size: 1.7rem !important; /* Ajusta según el tamaño deseado al hacer scroll */
    }
    
}

@media screen and (min-width: 991px){
    .offcanvas-header{
        display:none !important; 
    }
}