.person-block{
    width: 90%;
}

.bloque-cards-desktop-person{
    display: flex;
    flex-wrap: wrap;
}

.movie-type-serie-person {
    position: absolute;
    background-color: #0ea700;
    font-size: 0.9rem;
    top: 5px;
    left: 5px;
    font-weight: 500;
    padding: 0 3px;
    border-radius: 5px;
}

.movie-type-movie-person {
    position: absolute;
    background-color: #0072a7;
    font-size: 0.9rem;
    top: 5px;
    left: 5px;
    font-weight: 500;
    padding: 0 3px;
    border-radius: 5px;
}

.botones-paginacion-persons {
    padding: 5px;
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    margin: 0px 15px 0px 0px;
    border: none;
  }

.buscador_central-person{
    width: 40vw;
}

.botones-buscador-person{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscar-person {
    background-color: #014e72;
    border: none;
    font-size: 1.7rem !important;
    width: 40vw;
}

.buscar-person:hover {
    background-color: #024768;
}

#buscador-person {
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin-bottom: 10px;
    width: 40vw;
}

input[type="search"]::-webkit-search-cancel-button {
    cursor: pointer;
}



@media screen and (max-width: 600px){
    .buscar-person{
        font-size: 1.3rem !important;
        height: 45px;
        width: 80vw;
    }
    #buscador-person{
        height: 45px;
        width: 80vw;
        font-size: 1.2rem;
    }
    .botones-buscador-person{
        margin-right: 30px;
    }
    .form-control{
        padding: 10px !important;
    }
}

@media screen and (max-width: 560px){
    .bloque-card-mobile {
        display: flex;
        justify-content: center;
    }
    .bloque-cards-desktop-person{
        display: none;
    }
}
